/**
 * CSS styles for the LabIIPII.css file.
 * This file contains styles for a web development project.
 */

/**
 * Styles for the content element that contains a table.
 */
.web-dev-body .content:has(table) {
  margin: auto;
  width: 35rem;
  padding: 0;
}

/**
 * Styles for the table element within the content element.
 */
.web-dev-body .content table {
  width: 100%;
  border-collapse: collapse;
}

/**
 * Styles for all table elements.
 * Applies a backdrop filter with a blur effect.
 */
.web-dev-body table {
  backdrop-filter: blur(50px);
}

/**
 * Styles for the table header cells.
 * Sets a background color with 50% opacity and adds padding.
 */
.web-dev-body table th {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
}

/**
 * Styles for the table data cells.
 * Sets a background color with 30% opacity and adds padding.
 */
.web-dev-body table td {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 1rem;
}

/**
 * Media query for screens with a maximum width of 1008px.
 * Adjusts the width of the main and content elements to 100%.
 */
@media (max-width: 1008px) {
  main {
    width: 100%;
  }
  .content {
    width: 100%;
  }
}
