/**
 * CSS Rules in order from outermost element to innermost from top to bottom in index.html. General rules at the bottom along with media queries
 * 
 * @cssrule * - Applies styles to all elements
 * @cssrule .web-dev-body - Styles for the main container of the web development project
 * @cssrule .ball-one - Styles for the first ball element
 * @cssrule .ball-two - Styles for the second ball element
 * @cssrule .backdrop-blur - Styles for the backdrop blur effect
 * @cssrule header - Styles for the header element
 * @cssrule header a - Styles for the links in the header
 * @cssrule .nav - Styles for the navigation bar
 * @cssrule .nav p - Styles for the paragraphs in the navigation bar
 * @cssrule .web-dev-container - Styles for the container element
 * @cssrule main - Styles for the main content section
 * @cssrule .selfie-container - Styles for the selfie container
 * @cssrule .selfie - Styles for the selfie image
 * @cssrule .content - Styles for the content section
 * @cssrule .content h2 - Styles for the heading in the content section
 * @cssrule aside - Styles for the aside element
 * @cssrule ul .list-header.list-item - Styles for the list header item
 * @cssrule .nav-list, .list-item - Styles for the navigation list and list items
 * @cssrule .list-header .list-item - Styles for the list header item
 * @cssrule .list-item a:hover - Styles for the hover effect on list item links
 * @cssrule .list-item - Styles for the list items
 * @cssrule .list-item a - Styles for the list item links
 * @cssrule #nav-btn - Styles for the navigation button
 * @cssrule #nav-btn img - Styles for the navigation button image
 * @cssrule .funky-text - Styles for stylized text with gradient background
 * @cssrule .inconsolata - Styles for the Inconsolata font
 * @cssrule .flip-180 - Styles for flipping an element horizontally
 * @cssrule .translate-full - Styles for translating an element fully
 * @cssrule @media (max-width: 1008px) - Media query for responsive design
 */
/*
*************************************************************
CSS Rules in order from outermost element to innermost from
top to bottom in index.html. General rules at the bottom
along with media queries
*************************************************************
*/
* {
  z-index: 10;
}
.web-dev-body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #1b1b1b;
  font-family: sans-serif, monospace;
  color: #dedcdc;
  display: flex;
  flex-direction: column;
}
.ball-one {
  position: fixed;
  top: 0;
  left: 0;
  width: 50rem;
  height: 50rem;
  background-color: #d8e87d;
  border-radius: 50%;
  transform: translate(-25rem, -25rem);
  z-index: 0;
}
.ball-two {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50rem;
  height: 50rem;
  background-color: #f2674b;
  border-radius: 50%;
  transform: translate(15rem, 15rem);
  z-index: 0;
}
.backdrop-blur {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1;
}
header {
  text-align: center;
  background-color: #5458b8;
  padding: 0.1rem 0;
  z-index: 50;
}
header a {
  color: #d8e87d;
}
header a:visited {
  color: #d13b9c;
}
header a:hover {
  color: #f2674b;
}
.nav {
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: sticky;
  top: 0;
  width: 100%;
  height: 3rem;
  padding: 0 0 0 2rem;
  z-index: 100;
}
.nav p {
  font-size: 2rem;
  text-align: center;
}
.nav p:first-of-type {
  justify-self: left;
}
.nav p:nth-of-type(2) {
  font-weight: 800;
}
.web-dev-container {
  display: flex;
  flex-grow: 1;
}
main {
  max-width: 75rem;
  display: flex;
  margin: auto;
  height: 100%;
}
.selfie-container {
  display: flex;
  padding: 0 2rem;
}
.selfie {
  display: block;
  margin: auto;
  border-radius: 50%;
  width: 100%px;
  box-shadow:
    0 0 3px 3px #d8e87d,
    0 0 6px 6px #f2674b,
    0 0 9px 9px #d13b9c;
}
.content {
  text-align: left;
  max-width: 50rem;
  font-size: 1.3rem;
  text-indent: 2rem;
  line-height: 2rem;
  margin: auto 0;
}
.content h2 {
  text-align: center;
  font-size: 4rem;
  letter-spacing: 0.51rem;
  margin-bottom: 1rem;
  line-height: 3.5rem;
}
aside {
  position: fixed;
  right: 0;
  top: 2rem;
  height: 100vh;
  backdrop-filter: blur(50px);
  text-indent: 10px;
  padding-top: 2.5rem;
  transition: transform 0.25s ease-out;
}
ul .list-header.list-item {
  padding-bottom: 0;
}
.nav-list,
.list-item {
  list-style-type: none;
  width: 15rem;
}
.list-header .list-item {
  text-indent: 20px;
}
.list-header .list-item:first-child {
  margin-top: 5px;
}
.list-item a:hover {
  background: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.list-item {
  font-size: 1.2rem;
}
.list-item a {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  padding: 5px 0;
}
#nav-btn {
  justify-self: right;
  padding: 0 1rem;
}
#nav-btn img {
  transition: all 0.2s ease-out;
}

/*
***************************************************************
General CSS rules applicable to anything using this stylesheet
***************************************************************
*/

.funky-text {
  /* Stylized text with gradient background for webpage theme */
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 0,
    "SHLN" 42.7;
  font-size: 1.5rem;
}

.inconsolata {
  /* Font I have personal interest to but have yet to decide if theres a place for it here */
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.flip-180 {
  transform: scaleX(-1);
}

.translate-full {
  transform: translate(100%);
}
/*
**************
Media Queries
**************
*/
@media (max-width: 1008px) {
  .nav p:first-of-type {
    visibility: hidden;
    text-wrap: nowrap;
    width: 0;
  }
  main {
    flex-direction: column;
    width: 100%;
    background: transparent;
    margin: 0 auto;
  }
  .content {
    margin: 0 auto;
    padding: 0 2rem;
  }
  .content h2 {
    font-size: 3rem;
  }
  .selfie {
    margin-top: 2rem;
    width: 10rem;
    height: 10rem;
  }
}
